<header class="menu-uniable navbar navbar-default" role="navigation">
        <div class="container full-width">
            <div class="navbar-header menu-logo-top">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menu-uniable">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/config" id="site-home">
                    <img src="//i.addblock.net/template/main_logo.png" class="hide" data-attach="true">
                    <span id="tpl-logo-text" class="" data-selector="#tpl-logo-text">Uniable</span>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-menu-uniable">
                <div class="mini-home" id="mini-home"><i class="fa fa-angle-double-up"></i></div>
                <ul class="nav navbar-nav" id="tpl-menu"><li class="active"><a href="{% url 'index' %}">Home</a></li>
<li class=""><a href="{% url 'board' %}">게시판</a></li>
<li class=""><a href="{% url 'funding' %}">후원</a></li>
<li class=""><a href="{% url 'contact' %}">연락처</a></li>

</ul>
            </div>
        </div>
</header>